@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #718096;
  font-family: 'Arsenal', sans-serif;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
